{% include 'nav.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>HELLO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap-utilities.rtl.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    
    <!-- <nav class="navbar navbar-expand-sm bg-blue justify-content-cente">
    
  <div class="container-fluid bg-blue">
 
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>

</nav> -->
    <div class="container-fluid ">
        {% block content %}
         {% endblock %}
        <div class="container-fluid  ">
            <div class=" container row-cols-1 mb 3 position-absolute top-50 start-50 translate-middle">
                <form action="{% url 'praca' %}" method="POST" class="col-6 position-absolute top-50 start-50 translate-middle">
                   <div class="row justify-content-cente text-center mb-4 ">
                     <div class="col-12 fs-1 fw-bold align-self-center ">TEXTER.<sub class="fw-normal">com</sub></div>
                   </div>
                   
                   <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>

                    <div class="mb-3 mt-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
       </div>
</body>

</html>